language: c++
os: linux
dist: ubuntu
sudo: false

notifications:
email:
  recipients: bjmiles@ncsu.edu
  on_success: change
  on_failure: always
  
  addons:
    apt:
       sources:
        - ubuntu-toolchain-r-test
        pacakges:
          - g++-5
          - python3
 script:
 - python run_the_c_program.py
